BASE_URL=http://localhost:3000

KEYSTATIC_STORAGE_KIND=local

# GitHub App credentials for Keystatic Production (GitHub mode)
KEYSTATIC_GITHUB_CLIENT_ID=***
KEYSTATIC_GITHUB_CLIENT_SECRET=***
KEYSTATIC_SECRET=***

NEXT_PUBLIC_VERCEL_GIT_REPO_OWNER=putuwahyu29
NEXT_PUBLIC_VERCEL_GIT_REPO_SLUG=awd-artikel
